
<div class="wrapper justify-content-center col-12 col-md-6 col-lg-4" data-controller="bookmark-matches">
  <h2>Hello, <strong><%= current_user.username %></strong></h2>
  <h2 data-bookmark-matches-target="name" class="text-center pb-3">Bookmarks:</h2>


  <div class="category-cards">
    <%current_user.categories.each do |category| %>
    <div class="category-card">
      <div  data-action="click->bookmark-matches#filter">
        <%= link_to category.name.truncate(20), bookmarks_path(category: category) %>
      </div>
      <div>
        <%= link_to "", user_category_path(category), class: "fa-regular fa-trash-can", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this category?"} %>
      </div>
    </div>
  <% end %>
  </div>

  <p>You have <strong><%= @bookmarks.count %> bookmarks</strong> in total</p>
  <div class="accordion" id="accordionExample" data-bookmark-matches-target="bookmarksHolder">
     <%= render "bookmarks", bookmarks: @bookmarks %>
  </div>

</div>
