<div class="login-container">
  <%# <div class= "login-instructions"> %>
    <h2>Hello, <strong>again</strong></h2>
    <p>Login to see your searches</p>
  <%# </div> %>
</div>

<div class="login-form-container">
  <h2>Login</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>

    <div class="row justify-content-center">
      <div class="form-inputs col-10 col-md-6 col-lg-4">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Userame" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions d-flex justify-content-center py-2">
      <%= f.button :submit, "Log in", class:"btn-green" %>
    </div>
  <% end %>

</div>

<div class="text-center py-2">
  <%= render "devise/shared/links" %>
</div>

<div class="line">
</div>
