<div class="wrapper justify-content-center col-12 col-md-6 col-lg-4" data-controller="search" >

  <div class="display-search" data-search-target="displaySearch" style="
    height: 350px;">
    <div class="searching">
       <h2 class="animated-text" data-text="Analysing...">Analysing...</h2>
    </div>
    <div class="glass-position">
      <div class="spinner">
      </div>
      <%= image_tag "search_v2.png", class: "glass", alt: "search", width: "300px" %>
    </div>
  </div>

  <div class="display-slogan" data-search-target="displaySlogan">
    <div class="slogan" >
      <h1>We check the <br>red flags.</h1>
      <h1><strong>You shop safely.</strong></h1>
    </div>

    <div>
      <%= form_with url: "/searches", method: :post, data: { search_target: "mainSearch" } do |form| %>
      <div class ="d-flex justify-content-center">
        <%= form.text_field :query, class: "form-input" %>
        <div>
          <%= button_tag content_tag(:i, "", class:"fa-solid fa-magnifying-glass"), type: "submit", data: { action: "click->search#displaySearch" }, id: "lupa" %>
        </div>
        <% end %>
      </div>
      <p id= info-search> Write your shop's <strong>web address</strong> above</p>
    </div>

    <div class= "index-card" style="margin: 10px 10px;">
      <p id= top-searches> Top <strong>3</strong> searches:</p>
      <% @searches.each do |search| %>

        <%= link_to search_path(search) do %>
        <div class= "show-card">
          <p> <strong><%=search.website.website_url%></strong></p>
           <%# <p> <%=website_url %</p>
          <%# <p>Rating: <%= search.rating % >/10 </p> %>

        </div>
        <% end %>
      <% end %>
    </div>

    <div class="line">
    </div>

  </div>

</div>
