<div>
  <%= form_with url: "/searches", method: :post do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<div>
  <h1>Search here</h1>
  <% @searches.each do |search| %>
    <%= search.website_name %>
    <%= search.rating %>
  <% end %>
</div>
