
<div class="wrapper">

  <div class="logo">
    <%= image_tag "mainlogo" %>
  </div>

  <div class="slogan">
    <h1>We check <br>the red<br> flags.</h1>
    <h1><strong>You shop <br>safely.</strong></h1>
  </div>

  <div class="display-slogan" data-search-target="displaySlogan">
    <div class="slogan" >
      <h1>We check <br>the red<br> flags.</h1>
      <h1><strong>You shop <br>safely.</strong></h1>
    </div>
  </div>

  <div>
    <%= form_with url: "/searches", method: :post, data: { search_target: "mainSearch" } do |form| %>
    <%= form.label :query, "Search for:" %>
      <div class ="d-flex">
        <%= form.text_field :query, class: "form-input" %>
        <div>
          <%= button_tag content_tag(:i, "", class:"fa-solid fa-magnifying-glass"), type: "submit", data: { action: "click->search#displaySearch" }, id: "lupa" %>
        </div>
      </div>
      <p id= info-search> Write your shop's <strong>web address</strong> above</p>
    <% end %>
  </div>

  <div>
    <% @searches.each do |search| %>
      <%= search.website_name %>
      <%= search.rating %>
    <% end %>
  </div>
</div>
