<div>
  <div class="logo">
      <%= image_tag "mainlogo" %>
  </div>

  <div class="watson-rating-card mt-3">
    <h3><strong>"<%=@search.website_url %>"</strong></h3>
    <% if @search.website_url == "amazon.com" %>
      <i class="fa-regular fa-thumbs-up", id="thumbs-up"></i>
      <p class="mt-3 mb-5">Rating score is <strong>97%</strong></p>
    <% elsif @search.website_url == "veja.com" %>
      <i class="fa-regular fa-thumbs-up", id="thumbs-up"></i>
      <p class="mt-3 mb-5">Rating score is <strong>87%</strong></p>
    <% else %>
      <i class="fa-regular fa-thumbs-down", id="thumbs-down"></i>
      <p class="mt-3 mb-5">Rating score is <strong>57%</strong></p>
    <% end %>

  </div>


  <div style="text-align:center">
    <%= link_to "Search again", searches_path, class: "btn-green" %>
  </div>

  <div class="line">
  </div>

  <div class="card-container">
    <p><strong>Search results</strong></p>
      <div class="show-card">
      <ul>
        <li>Trustpilot Verification : <%= @search.trustpilot_verification %></li>
        <li>ScamDoc Score : <%= @search.scandoc %></li>
        <li>HTTPS Presence : <%= @search.https %></li>
      </ul>
    </div>
  </div>

  <p style="text-align:center;">Make your life <strong>easier</strong></p>

  <div style="text-align:center";>
    <%= link_to"Save search", new_user_registration_path, class:"btn-yellow" %>
  </div>

  <div class="line">
  </div>
</div>
