
<div class="wrapper">
   <div class="watson-rating-card mt-3">
    <p><strong>Search results</strong></p>
    <h3><strong>"<%=@search.website_url %>"</strong></h3>
    <% if @search.website_url == "amazon.com" %>
      <i class="fa-regular fa-thumbs-up", id="thumbs-up"></i>
      <p class="mt-3 mb-5">Rating score is <strong>97%</strong></p>
    <% elsif @search.website_url == "veja.com" %>
      <i class="fa-regular fa-thumbs-up", id="thumbs-up"></i>
      <p class="mt-3 mb-5">Rating score is <strong>87%</strong></p>
    <% else %>
      <i class="fa-regular fa-thumbs-down", id="thumbs-down"></i>
      <p class="mt-3 mb-5">Rating score is <strong>27%</strong></p>
    <% end %>
  </div>


<p style="text-align:center;" class="mt-3 mb-5">Read more details:</strong></p>

  <div class="card-container">
    <div class="show-card">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Trustpilot Verification : <%= @search.trustpilot_verification %>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Trustpilot is a digital platform that allows customers to review a business from which they've purchased a product or service or contacted customer service.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ScamDoc Score : <%= @search.scandoc %>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Scamdoc is a web tool that evaluates "digital identities" reliability.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              HTTPS Presence : <%= @search.https %>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Hypertext transfer protocol secure (HTTPS) is the secure version of HTTP, which is the primary protocol used to send data between a web browser and a website. HTTPS is encrypted in order to increase security of data transfer.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<p style="text-align:center;" class="mt-3 mb-5">Read reviews:</strong></p>
<div class="card-container">
    <div class="show-card">
    <p style="text-align:center;" class="mt-3 mb-5">this is a reviews placeholder </strong></p>
    </div>
</div>


 <div style="text-align:center">
 <p style="text-align:center;" class= "mt-3 mb-5">Add this search to bookmarks:</strong></p>
    <%= link_to "Save search", bookmarks_path, class:"btn-yellow" %>
  </div>

  <div class="line">
  </div>


  <div style="text-align:center" class= "mt-5";>
    <%= link_to "Search again", searches_path, class: "btn-green" %>
  </div>

  <div class="line">
  </div>
