
<div class="wrapper">
   <div class="watson-rating-card mt-3 bg-white">
    <p><strong>You searched</strong></p>
    <h3><strong>"<%=@search.website_url %>"</strong></h3>
    <% if @search.rating > 59 %>
      <i class="fa-regular fa-thumbs-up", id="thumbs-up"></i>
      <p class="mt-3 mb-5">Rating score is: <strong> <%= @search.rating %>% safe </strong></p>
    <% else %>
      <i class="fa-regular fa-thumbs-down", id="thumbs-down"></i>
      <h2 class="mt-3 mb-5">Rating score is: <strong> <%= @search.rating %>% safe</strong></h2>
    <% end %>
  </div>


<p style="text-align:center;" class="mt-3 mb-5">Read more details:</strong></p>

  <%# <div class="card-container"> %>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <% if @search.https == true %>
              HTTPS protocol detected
              <% else %>
              No HTTPS protocol detected
              <% end %>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Hypertext transfer protocol secure (HTTPS) is the secure version of HTTP, which is the primary protocol used to send data between a web browser and a website. HTTPS is encrypted in order to increase security of data transfer.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <% if @search.trustpilot_verification == true %>
              Verified company on Trustpilot
              <% else %>
              Not verified on Trustpilot
              <% end %>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Trustpilot is a digital platform that allows customers to review a business from which they've purchased a product or service or contacted customer service.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ScamDoc Score : <%= @search.scamdoc_score %> / 99
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Scamdoc is a web tool that evaluates "digital identities" reliability.
            </div>
          </div>
        </div>
      </div>
  <%# </div> %>




  <div class="col-12 col-sm-6">
        <h3>Read opinions:</h3>
        <% if @search.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this shop</em></small>
        <% end %>
        <% @search.reviews.each do |review| %>
          <div>
            <small><em class="text-muted"><%= review.user.username %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="mb-0"><%= review.comment %></p>
              <% if review.user == current_user %>
                <%= link_to "delete this review", review_path(review,search_id: @search.id), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this review?" } %>
              <% end %>
          </div>
          <hr>
        <% end %>
  </div>


  <div class="col-12 col-sm-6">
        <div class="bg-white rounded p-3">
          <h5>Add your review</h5>
          <%= simple_form_for [@search, @review] do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.submit class:"btn btn-flat" %>
          <% end %>
        </div>
  </div>

 <div style="text-align:center">
  <p style="text-align:center;" class= "mt-3 mb-5">Add this search to bookmarks:</strong></p>
      <%= link_to "Save search", search_bookmarks_path(@search), data: {turbo_method: :post}, class:"btn-green" %>
  </div>

  <div class="line">
  </div>


  <div style="text-align:center" class= "mt-5";>
    <%= link_to "Search again", searches_path, class: "btn-green" %>
  </div>

  <div class="line">
  </div>
</div>
